<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header id="header" class="transparent-bg">
        <div>
            <img class="header__logo-img" src="<%=require('../assets/images/logo.png')%>" alt="Logo Image">
        </div>

        <nav class="navigation-bar">
            <ul>
                <!-- Navigation Links are insterted dynamically -->
            </ul>
        </nav>
    </header>
    
    
    <main id="main-content">
        <!--  The dynamic content goes here -->
    </main>
    
    <footer id="footer">

    </footer>
</body>
</html>