*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    --header-heigth: 80px;
    --primary-color: #f5f5f5;
    --secondary-color: #3F2718;
    --accent-color-1: #9BB6AF;
    --accent-color-2: #F9E5CD;
    --accent-color-3: #D7AE87;
}


button {
    cursor: pointer;
}


/* START OF HEADER STYLE */
#header{
    height: var(--header-heigth);
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%; /* Required because of position fixed */
}

.header__logo-img{
    height: calc(var(--header-heigth) - 10px);
    width: auto;
    display: block;
}

.navigation-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.nav-btn {
    width: 120px;
    height: 2rem;
    font-size: 1.1rem;
    background-color: inherit;
    border: none;
    color: var(--accent-color-3);
    text-shadow: 1px 1px black;
}

.nav-btn.active{
    color: var(--accent-color-2);
}

#header.transparent-bg{
    background-color: transparent;
}

/* END OF HEADER STYLE */

/* START FOOTER STYLE */
.footer {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    padding: 4rem 10vw 1rem 10vw;
}

.footer svg {
    display: inline;
    width: 1.5rem;
    vertical-align: text-bottom;
    margin-right: 0.25rem;
    color: var(--accent-color-2);
}

.footer a {
    text-decoration: none;
    color: var(--hero-color-sec);
    cursor: pointer;
    transition: 0.1s ease-in;
}

.footer a:hover {
    color: var(--accent-color-3);
}

.footer > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer > ul > :first-child{
    margin-bottom: 1rem;
    color: var(--accent-color-3);
    font-size: 1.1rem;
    font-weight: bold;
}

.footer > :first-child{
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-start;
    gap: 25%;
    align-items: center;
    margin-bottom: 2.5rem;
}

.footer > :first-child p{
    font-size: 1.5rem;
    width: 50%;
}

.footer > :first-child img {
    height: 125px;
    width: auto;
    display: block;
}

.footer > :last-child {
    font-size: 0.75rem;
    flex: 1 0 100%;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}

/* END FOOTER STYLE */